openapi: 3.0.0
info:
  version: 1.0.0
  title: Provgen API
  description: API specification of the Provgen service
  contact:
    name: Javier Quinteros
    url: >-
      http://www.gfz-potsdam.de/en/section/seismology/staff/profil/javier-quinteros/
    email: javier@gfz-potsdam.de
servers:
  - url: 'http://rz-vm258.gfz-potsdam.de/eudat/provgen'
    description: Development server at GEOFON
paths:
  /version:
    get:
      summary: Get version of the code
      description: Returns a string specifying the version.
      responses:
        '200':
          description: Version of the code
          content:
            text/plain:
              schema:
                type: string
  /features:
    get:
      summary: Get features of the system
      description: Returns a set of attributes describing the capabilities of the system.
      responses:
        '200':
          description: Capabilities of the system
          content:
            application/json:
              schema:
                required:
                  - whatever
                properties:
                  whatever:
                    type: string
  /templates:
    get:
      summary: Get list of templates available
      description: Returns a list containing all templates available.
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  required:
                    - name
                    - doc
                  properties:
                    name:
                      type: string
                    doc:
                      type: string
        '204':
          description: No templates available.
  '/templates/{template}':
    get:
      summary: Gets a template identified by name
      description: Returns a single template
      parameters:
        - name: template
          in: path
          required: true
          description: Name of the template
          schema:
            type: string
      responses:
        '200':
          description: A Template in Notation3 format
          content:
            text/plain:
              schema:
                type: string
        '204':
          description: The Template does not exist.
        '400':
          $ref: '#/components/responses/Standard4XXErrorResponse'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
  responses:
    Standard4XXErrorResponse:
      description: Bad Request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
